<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398344471697-a33qe8lg3d7cajs9shns430ec8g9ofq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398344471697-a33qe8lg3d7cajs9shns430ec8g9ofq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398344471697-5cpfdgghema5qolglth01tbh08csr4vq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDVGXvaorAcfocVPgROBtdF08xItWd_uo</string>
	<key>GCM_SENDER_ID</key>
	<string>398344471697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stud.studadviceFront</string>
	<key>PROJECT_ID</key>
	<string>fir-platine-front</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-platine-front.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398344471697:ios:4a44a8cffb997b805b2b30</string>
</dict>
</plist>